.img-carousel {
  max-width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .img-carousel .slide-line {
    min-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: -webkit-grab;
    cursor: grab; }
    .img-carousel .slide-line:active {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
  .img-carousel .slide-line-wrap {
    width: 100%;
    overflow: hidden; }
  .img-carousel .prev-btn, .img-carousel .next-btn {
    color: royalblue;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: 'Roboto';
    font-size: 125px;
    cursor: pointer; }
  .img-carousel .prev-btn {
    left: 0;
    -webkit-transform: translateX(-150%) translateY(-50%);
        -ms-transform: translateX(-150%) translateY(-50%);
            transform: translateX(-150%) translateY(-50%); }
  .img-carousel .next-btn {
    right: 0;
    -webkit-transform: translateX(150%) translateY(-50%);
        -ms-transform: translateX(150%) translateY(-50%);
            transform: translateX(150%) translateY(-50%); }
  .img-carousel .next-btn_inner, .img-carousel .prev-btn_inner {
    -webkit-transform: translateX(0%) translateY(-50%);
        -ms-transform: translateX(0%) translateY(-50%);
            transform: translateX(0%) translateY(-50%); }
  .img-carousel .overlay {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999; }

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0; }
  .pagination__button {
    margin: 10px 5px;
    width: 20px;
    height: 20px;
    border: 2px solid royalblue;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
  .pagination__button-inner {
    width: 12px;
    height: 12px;
    background: royalblue;
    border-radius: 50%;
    opacity: 0; }
  .pagination__button_active .pagination__button-inner {
    opacity: 1; }

.pagination_inset {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
